*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'EB Garamond', serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield ;
}

.custom-bg{
  background-color: #007BFF;
}

.custom-bg:hover{
  background-color: #06509F;
}

.availability-form{
  margin-top: -50px;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 576px) {
  .availability-form{
    margin-top: -50px;
    padding: 0 35px;
  }
}

.custom-alert{
  position: fixed;
  top: 80px; 
  right: 20px; 
  max-width: 300px;
}

