*{
  font-family: 'Poppins', sans-serif;
}
.h-font{
  font-family: 'EB Garamond', serif;
}

.custom-bg{
  background-color: #007BFF;
}

.custom-bg:hover{
  background-color: #06509F;
}

.custom-alert{
  position: fixed;
  top: 80px; 
  right: 20px; 
  max-width: 300px;
}

#dashboard-menu{
  position: fixed;
  height: 100%;
  z-index: 11;
}

@media screen and (max-width: 992px){
  #dashboard-menu{
    height: auto;
    width: 100%;
  }
  #main-content{
    margin-top: 60px;
  }
}

